<nav aria-label="Menú principal">
    <div class="logo">TURISMO<span>EXPLORA</span></div>

    <ul class="menu">
        <li><a href="index.html">Inicio</a></li>

        <li class="has-mega">
            <a href="destinos.html" aria-haspopup="true">Destinos</a>

            <div class="mega-menu" role="menu">
                <div class="mega-menu-content">

                    <div class="mega-menu-column">
                        <h3>Naturaleza</h3>
                        <ul>
                            <li><a href="destinos.html">Montañas</a></li>
                            <li><a href="destinos.html">Selvas</a></li>
                            <li><a href="destinos.html">Parques Nacionales</a></li>
                        </ul>
                    </div>

                    <div class="mega-menu-column">
                        <h3>Cultura</h3>
                        <ul>
                            <li><a href="destinos.html">Museos</a></li>
                            <li><a href="destinos.html">Sitios Históricos</a></li>
                            <li><a href="destinos.html">Gastronomía</a></li>
                        </ul>
                    </div>

                    <div class="mega-menu-column">
                        <h3>Aventura</h3>
                        <ul>
                            <li><a href="destinos.html">Trekking</a></li>
                            <li><a href="destinos.html">Surf</a></li>
                            <li><a href="destinos.html">Escalada</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </li>

        <li><a href="agencia.html">Agencias</a></li>
        <li><a href="precio.html">Precios</a></li>
        <li><a href="blog.html">Blog</a></li>
        <li><a href="contacto.html">Contacto</a></li>
    </ul>
</nav>